# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Clion
.idea

# build
cmake-build*
CMakeFiles
x64
*.vcxproj*
*.sln
cmake_install.cmake
CMakeCache.txt
Debug
octopus_games.dir